body {
    background-color: gainsboro;
    margin: 5px;
}
h1 {
    color: midnightblue;
    size: medium;
    line-height: 100px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article {
    padding: 10px;
    margin: 10px;
}
section {
    display: flex;
    flex-direction: row;
}
footer, header {
    height: 70px;
    background-color: midnightblue;
    color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NavBar {
    height: 100px;
    background-color: midnightblue;
    color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-4 {
    background-color: dodgerblue;
}
.col-6 {
    background-color: limegreen;
}
.col-2 {
    background-color: yellow;
}