body {
background-color: linen;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
color:black
}
h1 {
border-bottom: 10px;
margin-top: 10px;
margin-left: 5px;
font-size: 20px;
font-style: italic bold;   
font-family: Arial, Helvetica, sans-serif;
color: black;
}
h2 {
margin-top: 10px;
margin-left: 5px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
h3 {
margin-top: 10px;
margin-left: 5px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
p {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
img {

}
figure {

}
.warning {

}
#note {

}