body {
background-color: linen;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
color:black
}
h1 {
border-bottom: 10px;
border-color: crimson;
text-transform: uppercase;
text-align: center;
margin-top: 10px;
margin-left: 5px;
font-size: 16px;
font-style: italic bold;   
font-family: Arial, Helvetica, sans-serif;
color:darkred;
}
h2 {
margin-top: 10px;
margin-left: 5px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
h3 {
margin-top: 10px;
margin-left: 5px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
p {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
a {
border-spacing: 10px;
border-color: red;
border: 1px;
border-width: 250px;
opacity: 0.5;
}
img {

}
figure {

}
.warning {

}
#note {

}