body {
    background-color: beige;
}
article {
    flex: 1;
}
article:nth-of-type(2) {
    flex: 3;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    align-content: space-between;
  }
