section {
    display: flex;
    flex-wrap: wrap;
    flex: 200px;
}
article {
    flex: 1;
}
article:nth-of-type(2) {
    flex: 3;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
}
.flexGrowContainer {
    display: flex;
    align-items:stretch;
    background-color:aquamarine;
}