body {
    margin: 0px;
    background-color: lightgreen;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:black
    }
h1 {
    line-height: 100px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    }
p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    }
a {
    color: #000;
    }
a:hover {
    color:mediumblue;    
    }
article {
        padding: 10px;
        margin: 10px;
        background-color: antiquewhite;
    }
sidebar {
        margin: 10px;
        min-width: 200;
        background-color: beige;
        text-align: left;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .main {
        display: flex;
        flex-direction: row;
    }
    section {
        display: flex;
        flex-direction: column;
    }