body {
background-color: linen;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
color:black
}
h1 {
font-size: 16px;
border-bottom: 10px;
text-transform: uppercase;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color:darkred;
}
h2 {
margin-top: 10px;
margin-left: 5px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
h3 {
margin-top: 10px;
margin-left: 5px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
p {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
a {
color: red;
}
a:hover {
color:blue;    
}
img {
border: 1px solid #FF0000;
padding: 10px;
border-width: 250px;
opacity: 0.5;
}
figure {
border: 1px solid #FF0000;
padding: 10px;
border-width: 250px;
opacity: 0.5;
}
.warning {

}
#note {

}